body {
    font-family: 'Roboto', helvetica, verdana;
}

#seccion_inicio {
    background-image: url('../images/fond1.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 500px;
    height: 800px;
}

#seccion_inicio h1 {
    font-weight: lighter;
    text-transform: capitalize;
}

#seccion_inicio h2 {
    font-weight: bold;
}

#seccion_inicio * {
    color: white;
}

#cv_foto {
    border-radius: 50%;
    width: 259px;
    height: 243px;
}

#seccion_inicio h1{
  font: 300% sans-serif;
}
#seccion_inicio{
  font-family: monospace;
}

#click-me, #click-me1, #click-me2{
  text-align: right;
  font-size: 10px;
}

#seccion_sobremi p{
  font-family: small-caps bold;
  font-size: 20px;
  padding-bottom: 50px;
}

#seccion_sobremi {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 200px 20px 200px 20px;
}

#seccion_sobremi h2 {
    color: blue;
    font-size: 40px;
}

#seccion_habilidades h2{
    text-align: center;
}
#seccion_hobbies .glyphicon {
    font-size: 40px;
}

#seccion_hobbies {
    background-color: #000;
    color: white;
    padding: 100px 50px 100px 50px;
}

#seccion_hobbies h3 {
    color: black;
    font-family: fantasy;
    font-size: 24px;
}

#seccion_habilidades {
    padding-bottom: 100px;
    padding-top: 100px;
}
#seccion_skills{
    padding-top: 50px;
}

#seccion_skills .col-sm-6>div {
    background-color: skyblue;
    opacity: 0.9;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.navbar{
  font-family: fantasy;
  font-size: 20px;
}

#book, #headphones, #heart{
    font-size: 30px;
}

#seccion_hobbies p {
  font-family: "Homer Simpson", cursive;
}

#seccion_hobbies #text-accord, #text-accord1, #text-accord2{
  font-family: "Homer Simpson", cursive;
  font-size: 20px;
}

#seccion_skills p{
    font-size: 18px;
}

#ted1{
    padding-left: 150px;
}
#ted2{
    padding-left: 40px;
}

#seccion_skills ul {
    list-style-type: none;
    padding: 0px;
}

#seccion_habilidades .col-sm-4>h1, h2, h3, h4, h5 {
    color: white;
}

#other{
    margin-bottom: 20px;
    font-size: 18px;
}

#seccion_contacto input {
    background-color: rgba(255, 255, 255, 0.5);
}

#seccion_habilidades {
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/28/01/52/280152f4017882616f8025f8690fbbd9.jpg');
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#seccion_habilidades {
    padding-top: 80px;
}

#seccion_social {
    background: deepskyblue;
    padding: 80px;
}


#seccion_social a {
    color: white;
}
#seccion_social ul li a:hover i {
    background: #2D373D;
}

#seccion_social .btn {
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0px 2px 5px #787878;
    padding: 20px 40px;
    color: black;
}

#seccion_social .btn:hover {
    background: #4b4b4b;
    color: white;
}

#seccion_contacto {
    background: url('../images/pattern.png') repeat;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

#seccion_contacto .glyphicon {
    font-size: 30px;
}

#seccion_contacto p {
    font-size: 20px;
}

#seccion_contacto input, #seccion_contacto textarea {
    border-bottom: 5px aqua solid;
}

#seccion_contacto button {
    border-radius: 50px;
    background: aqua;
}

.google-maps {
    text-align: center !important;
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#seccion_hobbies {
    background: #5c258d;
    background: -webkit-linear-gradient(to left, #5c258d, #4389a2);
    background: linear-gradient(to left, white, skyblue, white);
}

#copyright {
    padding:20px;
    background-color: deepskyblue;
}

.navbar{
    margin: 0;
    border-radius: 0;
}

#mapa{
    margin-top: 50px;
}
#form{
    padding-top: 80px;
}

.accordion{
  max-width: 600px;
  margin: 4rem auto;
  width: 90%;
  background: #f4f4f4;
  border-radius: 10px;
}
.accordion__title{
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  background: blue;
  color: white;
  cursor: pointer;
  transition: .3s ease;
  margin: 0;
}
.accordion__title:hover{
  background: skyblue;
}

.accordion__body{
  display: none;
  padding: 1rem 1.5rem 2rem 1.5rem;
  color: gray;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
}

.accordion__body--open{
  display: block;
}
#seccion_hobbies .glyphicon {
    font-size: 50px;
    color: white;
    padding-right: 30px;

}
